[build]
builder = "nixpacks"

[deploy]
startCommand = "streamlit run app/frontend.py --server.port=$PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

